-# encoding: utf-8
!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml")

	!= include 'views/invisible_header.haml'

	%body
		%h1= title

		%table
			%tr
				%th Cover
				%th Title
				%th Author
				%th ISBN
				%th Rating
				%th Date Added
				%th Date Read
				%th Tags

			!= include_for_each books, 'views/book.haml'

		%form(method="get" action="/add/")
			%h2 Recommend a book for me to read
			%label(for="recommender") Your web address or email address:
			%input(type="text" name="recommender" id="recommender")
			%label(for="q") Search for book:
			%input(type="text" name="q" id="q")
			%input(type="submit" value="Search")

		%ul
			%li
				%a(href="https://github.com/singpolyma/MyLibrary")
					get source code
			%li
				Powered by
				%a(href="http://openlibrary.org")
					OpenLibrary.org
